apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    uid: postgres-ecommerce
    access: proxy
    url: postgres:5432
    database: ecommerce_db
    user: dashuser
    secureJsonData:
      password: dashpass
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 10
      connMaxLifetime: 14400
      postgresVersion: 1600
      timescaledb: false
    editable: false
    isDefault: true

  - name: Prometheus
    type: prometheus
    uid: prometheus-ecommerce
    access: proxy
    url: http://prometheus:9090
    jsonData:
      timeInterval: 15s
    editable: false
