apiVersion: 1

datasources:
  - name: PostgreSQL-Ecommerce
    type: postgres
    access: proxy
    url: postgres:5432
    database: ecommerce_db
    user: dashuser
    secureJsonData:
      password: 'dashpass'
    jsonData:
      sslmode: 'disable'
      maxOpenConns: 10
      maxIdleConns: 10
      connMaxLifetime: 14400
      postgresVersion: 1600
      timescaledb: false
    editable: true
    isDefault: true
