# Configuration Kind pour test local
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: ecommerce-local
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: 30000
    hostPort: 8050
    protocol: TCP
  - containerPort: 30001
    hostPort: 3000
    protocol: TCP
  - containerPort: 30002
    hostPort: 9090
    protocol: TCP
