# Falco Configuration File
#
# This is the main configuration file for Falco

# File(s) or Directories containing Falco rules, loaded at startup.
# The name "rules_file" is only for backwards compatibility.
# If the entry is a file, it will be read directly. If the entry is a directory,
# every file in that directory will be read, in alphabetical order.
rules_file:
  - /etc/falco/falco_rules.yaml
  - /etc/falco/falco_rules.local.yaml
  - /etc/falco/rules.d

# Whether to output events in json or text
json_output: true
json_include_output_property: true

# Send information logs to stderr and/or syslog Note these are *not* security
# notification logs! These are just Falco lifecycle (and possibly error) logs.
log_stderr: true
log_syslog: false

# Minimum log level to include in logs. Note: these levels are
# separate from the priority field of rules. This refers only to the
# log level of falco's internal logging. Can be one of "emergency", "alert",
# "critical", "error", "warning", "notice", "info", "debug".
log_level: info

# Minimum rule priority level to load and run. All rules having a
# priority more severe than this level will be loaded/run.  Can be one
# of "emergency", "alert", "critical", "error", "warning", "notice",
# "info", "debug".
priority: debug

# Whether or not output to any of the output channels below is
# buffered. Defaults to false
buffered_outputs: false

# Falco uses a shared buffer between the kernel and userspace to pass
# system call information. When Falco detects that this buffer is
# full and system calls have been dropped, it can take one or more of
# the following actions:
#   - ignore: do nothing (default when list is empty)
#   - log: log a message
#   - alert: emit a Falco alert
#   - exit: exit Falco with a non-zero rc
syscall_event_drops:
  actions:
    - log
    - alert
  rate: 0.03333
  max_burst: 1

# Falco continuously monitors for system calls.
# This option defines how many times per second Falco outputs statistics.
syscall_event_timeouts:
  max_consecutive: 1000

# Where security notifications should go.
# Multiple outputs can be enabled.
file_output:
  enabled: true
  keep_alive: false
  filename: /logs/falco-events.log

stdout_output:
  enabled: true

syslog_output:
  enabled: false

# Possible additional things you might want to do with program output:
#   - send to a slack webhook:
#         slack_webhook: "https://hooks.slack.com/services/XXX"
#
#   - logging to local syslog:
#         syslog: true

program_output:
  enabled: false
  keep_alive: false
  program: "jq '{text: .output}' | curl -d @- -X POST https://hooks.slack.com/services/XXX"

http_output:
  enabled: false
  url: http://some.url

# Falco contains an embedded webserver that can be used to accept K8s
# Audit Events. The following options control the behavior of that
# webserver. (By default, the webserver is disabled).
#
# The ssl_certificate is a combination SSL Certificate and corresponding
# key contained in a single file. You can generate a key/cert as follows:
#
# $ openssl req -newkey rsa:2048 -nodes -keyout key.pem -x509 -days 365 -out certificate.pem
# $ cat certificate.pem key.pem > falco.pem
# $ sudo cp falco.pem /etc/falco/falco.pem
webserver:
  enabled: false
  listen_port: 8765
  k8s_audit_endpoint: /k8s-audit
  ssl_enabled: false
  ssl_certificate: /etc/falco/falco.pem

# Possible additional things you might want to do with program output:
#   - send to a slack webhook:
#         slack_webhook: "https://hooks.slack.com/services/XXX"

# gRPC server configuration.
# The gRPC server is secure by default (mutual TLS) so you need to generate certificates and update the configuration below.
grpc:
  enabled: false
  bind_address: "0.0.0.0:5060"
  threadiness: 0

# gRPC output service.
# If enabled, Falco will output events to the gRPC server.
grpc_output:
  enabled: false
