apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: ecommerce_db
    user: admin
    secureJsonData:
      password: admin123
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    url: http://loki:3100
    access: proxy
    editable: true
    jsonData:
      maxLines: 1000
